<h1>Movies</h1>

<%= form_tag movies_path, method: :get do %>
  <%= label_tag :actor_search, "Search by Actor:" %>
  <%= text_field_tag :actor_search, params[:actor_search] %>
  <%= submit_tag "Search" %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Year</th>
      <th>Director</th>
      <th>Actors</th>
      <th>Filming Location</th>
      <th>Country</th>
    </tr>
  </thead>
  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= movie.title %></td>
        <td><%= movie.description %></td>
        <td><%= movie.year %></td>
        <td><%= movie.director %></td>
        <td><%= movie.actors.join(', ') %></td>
        <td><%= movie.filming_location %></td>
        <td><%= movie.country %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @movies %>
